body {
  font-family: "Nunito Sans", sans-serif;
}
.main {
  background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.text {
  text-transform: uppercase;
  color: white;
  margin-top: 170px;
  margin-bottom: 180px;
}
.worktime {
  padding: 0px;
  color: #fbb731;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}
.title {
  margin-top: 52px;
  font-size: 120px;
  font-weight: 800;
  line-height: 140px;
  margin-bottom: 35px;
  flex: 0 0 580px;
}
.subtitle {
  margin: 0px;
  font-family: "Lato";
  text-transform: lowercase;
  color: #dedede;
  font-size: 19px;
  line-height: 1.4;
}
.btn {
  font-size: 14px;
  margin-top: 42px;
  color: #1e2f40;
  background-color: #fbb731;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 45px;
  display: inline-block;
  margin-top: 42px;
}
.visual {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.bg {
  background: linear-gradient(
    2.42deg,
    #f37335 -19.6%,
    #fbb731 100.79%,
    #fdc830 100.79%
  );
  width: 432px;
  height: 100%;
}
img {
  position: absolute;
  width: 829px;
  right: -168px;
}
